.app-header-wrapper
{
    background-image: url('../../assets/app-background.png');
    background-repeat: no-repeat;
    background-position: center;

    /* max-width: 430px; */
    width: 430px;
    height: 202px;

    border-radius: 10px 10px 0 0;

    position: relative;
}
.app-header-wrapper
.app-header-date-wrapper
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 17px;

    position: absolute;

    right: 28px;
    bottom: 13px;

    font-family: 'Russo One', sans-serif;
    color: var(--common-white);
    font-weight: 400;
}
.app-header-wrapper
.app-header-date-wrapper
.app-date-day-num
{
    font-size: 18px;
    text-transform: capitalize;

    display: flex;
    align-items: center;
    gap: 10px;
}

.app-header-wrapper
.app-header-date-wrapper
.app-date-time-am-pm
{
    font-size: 3rem;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    gap: 1rem;
}