.app-wrapper
{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.app-wrapper
.app-title
{
    font-family: 'Inter', sans-serif;
    font-size: 96px;
    font-weight: 700;
    color: var(--logo-color);
    text-transform: capitalize;
}
.app-wrapper
.app-inner-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.app-wrapper
.app-inner-container
.app-toDo-container
{
    font-family: 'Inter', sans-serif;
    width: 100%;
    padding: 23px 29px;

    background-color: var(--common-white);

    border-radius: 0 0 10px 10px;
}

.app-wrapper
.app-inner-container
.app-toDo-container
.app-toDoLine-container
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:24px;

    min-height: 200px;

    margin-top: 36px;

}